body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  text-align: center;
}
p {
  color: #f00;
  text-align: center;
}
form {
  margin: auto;
  width: 250px;
}
.ui-listview,
.ui-listview-filter {
  margin: auto;
  width: 250px;
}
section {
  margin: auto;
  width: 250px;
}
