extends layout

block append head
  script(src='/javascripts/my_scripts.js')
block content
  h1= title
  form(action='/login', method='POST', data-ajax='false')
    fieldset(id='form_fields')
      label Username:
      input(type='text', name='username')
      label Password:
      input(type='password', name='password')
      input(type='submit', value='Login')